
.g-content {
    height: 100%;
    width: 357px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px 10px;
    display: none;
    margin:  0 auto;
}

.g-content .tip {
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-bottom: 20px;
    margin-left: 30px;
}
.g-content .tip-toast{
    color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 33px;
    width: 284px;
    height: 66px;
    background-color: #516ACD;
    line-height: 60px;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -142px;

}
.g-content .tip-toast::before {
    content:"";
    content:'';
    border-width:12px 12px 12px 12px;
    border-style:solid;
    border-color:transparent transparent #516ACD transparent;
    position: absolute;
    top: -19px;
    left: 30px;
    
}
.g-content .toast-text {
    font-size: 20px;
}

.g-lottery-box {
    text-align: center;
    width: 322px;
    height: 322px;
    position: relative;
    margin: 0 auto;

}

.g-lottery-box .g-lottery-img {
    width: 322px;
    height: 322px;
    position: relative;
    /* background: url('../images/wheel.png'); */
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    margin-top: 20px;
}

.g-lottery-box .playbtn {
    width: 144px;
    height: 144px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -72px;
    margin-top: -72px;
    /* background: url('../images/button.png') no-repeat; */
    background-repeat: no-repeat;
    background-size: contain;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

.g-lottery-box .pointer {
    width: 26px;
    height: 30px;
    /* background: url(../images/pointer.png) no-repeat; */
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 24px;
    margin-left: -13px;
    
}

.footer {
    text-align: center;
    font-size: 14px !important;
    margin-top: 20px;
}
.footer .lotter-rule, .footer .lotter-chance {
    color: rgba(225, 225, 225, 0.7);
}
.footer .num {
    color: #FFC44D !important;
    margin: 0px 3px;
    font-size: 16px !important;
} 